# Next
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Deps
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# Uploads (local dev)
uploads/
social-videos/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
